extends layout

block content
  .container
    hr
    .row
      .col-12
        h3= 'Notes'
        p= 'Welcome to notes, you can add new notes with description and assign tags to them. Filter saved notes by tags'
