doctype html
html
  head
    title= 'Notes with tags'
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Source+Code+Pro')
  body
    a(href='/') Home - Notes
    br
    a(href='/notes') Notes
    br
    a(href='/tags') Browse tags

    block content
